:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 16px;

  // Adaptive
  @include lg {
    font-size: 16px;
  }
  @include md {
    font-size: 15px;
  }
  @include sm {
    font-size: 14px;
  }
  @include xsm {
    font-size: 12px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.mcontent {
  padding-bottom: PxToRem(20px);
}

.container {
  max-width: $container-width;
  margin: 0 auto;

  // Adaptive + Responsive
  @include lg {
    max-width: calc(100% - PxToRem(200px));
  }
  @include md {
    max-width: calc(100% - PxToRem(40px));
  }
  @include sm {
    max-width: calc(100% - PxToRem(40px));
  }
  @include xsm {
    max-width: calc(100% - PxToRem(20px));
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper::after {
  content: "";
  display: block;
  height: $footer-height-desc;

  @include lg {
    height: $footer-height-desc;
  }
  @include md {
    height: $footer-height-tabl;
  }
  @include sm {
    height: $footer-height-tabl;
  }
  @include xsm {
    height: $footer-height-mobile;
  }
}

.footer {
  position: relative;
  height: $footer-height-desc;
  overflow: hidden;
  width: 100%;
  margin-top: calc(-1 * $footer-height-desc);

  @include lg {
    height: $footer-height-desc;
    margin-top: calc(-1 * $footer-height-desc);
  }
  @include md {
    height: $footer-height-tabl;
    margin-top: calc(-1 * $footer-height-tabl);
  }
  @include sm {
    height: $footer-height-tabl;
    margin-top: calc(-1 * $footer-height-tabl);
  }
  @include xsm {
    height: $footer-height-mobile;
    margin-top: calc(-1 * $footer-height-mobile);
  }
}
